.navbar{
background-color:purple;
border-radius:30px;
}
.navbar li{
float:left;
list-style:none;
padding:3px 3px;
margin:12px 10px;
}
.navbar ul{
overflow:auto;
}
.navbar li a{
padding:3px 3px;
text-decoration:none;
color:#ffff66;
}
.navbar li a:hover{
color:#ffb366;
background-color:blue;
font-size:15px
}
body{
background-color:#ff668c;
}
#bone{
text-decoration:underline;
color:#d9ff66;
font-size:60px;
}
p{
color:blue;
font-size:40px;
}
ul{
color:green;
font-size:40px;
}