.navbar{
background-color:purple;
border-radius:30px;
}
.navbar li{
float:left;
list-style:none;
padding:3px 3px;
margin:15px 20px;
}
.navbar ul{
overflow:auto;
}
.navbar li a{
padding:3px 3px;
text-decoration:none;
color:green;
}
.navbar li a:hover{
color:red;
background-color:yellow;
font-size:20px
}
