.navbar-chem{
background-color:#ffaa00;
border-radius:30px;
}
.navbar-chem li{
float:left;
list-style:none;
padding:3px 3px;
margin:15px 20px;
}
.navbar-chem ul{
overflow:auto;
}
.navbar-chem li a{
padding:3px 3px;
text-decoration:none;
color:#00bfff;
}
.navbar-chem li a:hover{
color:red;
background-color:yellow;
font-size:20px
}
#amn{
background-color:yellow;
color:red;
}