body{
     background-color:#0d9486;
        
}
#In_h{
       color:Blue;
       background-color:#cfb71d;
       text-decoration:underline wavy;
       text-align:center;
       font-weight:900;
       font-family:ui-serif;
       font-size:25px
 }
 #g_h{
       text-align:center;
       color:Blue;
       background-color:#cfb71d;
       text-decoration: underline wavy;
       font-family:ui-serif;
       font-size:25px;
 }
 #brahma_h{
       text-align:center;
       color:Blue;
       background-color:#cfb71d;
       text-decoration: underline wavy;
       font-family:ui-serif;
       font-size:25px
 }
 a{
  text-decoration:none;
  color:white;
  font-family:cursive;
  
 }
 p{
     text-align:left;    
     color:#acfa02;
     font-family:cursive;
 }
 #Hm_h{
    text-align:center;    
    font-size:25px;
    color:#e810d2;
    background-color:#03fc45;
    font-family:fantasy;
 }
 #Pen_h {
    text-align: center;
    font-size: 25px;
    color: #e810d2;
    background-color: #03fc45;
    font-family: fantasy;
  }
 #Narmada_h {
    text-align: center;
    color: Blue;
    background-color: #cfb71d;
    text-decoration: underline wavy;
    font-family: ui-serif;
  }
 #Tapi_h{text-align: center;
   color: Blue;
   background-color: #cfb71d;
   text-decoration: underline wavy;
   font-family: ui-serif;}
 #Godavari_h {
      text-align: center;
      color: Blue;
      background-color: #cfb71d;
      text-decoration: underline wavy;
      font-family: ui-serif;
   }
 #Mahanadi_h{
      text-align: center;
      color: Blue;
      background-color: #cfb71d;
      text-decoration: underline wavy;
      font-family: ui-serif;
   }
 #Krishna_h{
   text-align: center;
   color: Blue;
   background-color: #cfb71d;
   text-decoration: underline wavy;
   font-family: ui-serif;
 }      
 #Kaveri_h{
   text-align: center;
   color: Blue;
   background-color: #cfb71d;
   text-decoration: underline wavy;
   font-family: ui-serif;
 }

.navbar{
background-color:purple;
border-radius:30px;
}
.navbar li{
float:left;
list-style:none;
padding:3px 3px;
margin:12px 20px;
}
.navbar ul{
overflow:auto;
}
.navbar li a{
padding:3px 3px;
text-decoration:none;
color:#ffff66;
}
.navbar li a:hover{
color:#ffb366;
background-color:blue;
font-size:30px
}