#WEP{
 text-align: center;
   color: Blue;
   background-color:#cfb71d;
    text-decoration:underline wavy;
   font-family: ui-serif;}
#Work{
 text-align: center;
 color:#e28743;
 justify-content:center;
}
#One_Joule{
 text-align: center;
 color:#e28743;
  }
 #TW{
   text-align: center;
 color:#e28743;
 }
#Positive_work{
text-align: center;
 color:#e28743;
  }
#-W{
text-align: center;
 color:#e28743;
}
#Zero_work{
text-align: center;
 color:#e28743;
  }
#Energy{
text-align: center;
 color:#0059d6;
  }
#TE{
text-align: center;
 color:#0059d6;
  }
#PE{
text-align: center;
 color:#0059d6;
  }
#KE{
text-align: center;
 color:#0059d6;
  }
body{
background-color:#08ffa4;
}
.navbar{
background-color:black;
border-radius:30px;
}
.navbar li{
float:left;
list-style:none;
padding:3px 3px;
margin:10px 10px;
}
.navbar ul{
overflow:auto;
}
.navbar li a{
padding:3px 3px;
text-decoration:none;
color:white;
}
.navbar li a:hover{
color:red;
background-color:yellow;
animation-direction:right to left;
}
