#WEP{
 text-align: center;
   color: Blue;
   background-color: #cfb71d;
    text-decoration: underline wavy;
   font-family: ui-serif;}
#Work{
 text-align: center;
 color:#66ffb3;
 justify-content:center;
}
#One_Joule{
 text-align: center;
 color:#66ffb3;
  }
 #TW{
   text-align: center;
 color:#66ffb3;
 }
#Positive_work{
text-align: center;
 color:#66ffb3;
  }
#-W{
text-align: center;
 color:#66ffb3;
}
#Zero_work{
text-align: center;
 color:#66ffb3;
  }
#Energy{
text-align: center;
 color:#66ffb3;
  }
#TE{
text-align: center;
 color:#66ffb3;
  }
#PE{
text-align: center;
 color:#66ffb3;
  }
#KE{
text-align: center;
 color:#66ffb3;
  }