
 body{
     background-color:#0d9486;
        
}
 #In_h{
       color:Blue;
       background-color:#cfb71d;
       text-decoration:underline wavy;
       text-align:center;
       font-weight:900;
       font-family:ui-serif;
       font-size:25px
 }
 #g_h{
       text-align:center;
       color:Blue;
       background-color:#cfb71d;
       text-decoration: underline wavy;
       font-family:ui-serif;
       font-size:25px;
 }
 #brahma_h{
       text-align:center;
       color:Blue;
       background-color:#cfb71d;
       text-decoration: underline wavy;
       font-family:ui-serif;
       font-size:25px
 }
 a{
  text-decoration:none;
  color:white;
  font-family:cursive;
  
 }
 p{
     text-align:left;    
     color:#acfa02;
     font-family:cursive;
 }
 #Hm_h{
    text-align:center;    
    font-size:25px;
    color:#e810d2;
    background-color:#03fc45;
    font-family:fantasy;
 }
 #Pen_h {
    text-align: center;
    font-size: 25px;
    color: #e810d2;
    background-color: #03fc45;
    font-family: fantasy;
  }
 #Narmada_h {
    text-align: center;
    color: Blue;
    background-color: #cfb71d;
    text-decoration: underline wavy;
    font-family: ui-serif;
  }
 #Tapi_h{text-align: center;
   color: Blue;
   background-color: #cfb71d;
   text-decoration: underline wavy;
   font-family: ui-serif;}
 #Godavari_h {
      text-align: center;
      color: Blue;
      background-color: #cfb71d;
      text-decoration: underline wavy;
      font-family: ui-serif;
   }
 #Mahanadi_h{
      text-align: center;
      color: Blue;
      background-color: #cfb71d;
      text-decoration: underline wavy;
      font-family: ui-serif;
   }
 #Krishna_h{
   text-align: center;
   color: Blue;
   background-color: #cfb71d;
   text-decoration: underline wavy;
   font-family: ui-serif;
 }      
 #Kaveri_h{
   text-align: center;
   color: Blue;
   background-color: #cfb71d;
   text-decoration: underline wavy;
   font-family: ui-serif;
 }
div{
   background-color:black;
   color:White;
   display:inline;
   font-size:25px   
}
#WEP{
 text-align: center;
   color: Blue;
   background-color: #cfb71d;
    text-decoration: underline wavy;
   font-family: ui-serif;}
#Work{
 text-align: center;
 color:#66ffb3;
}
#One_Joule{
 text-align: center;
 color:#66ffb3;
  }
 #TW{
   text-align: center;
 color:#66ffb3;
 }
#Positive_work{
text-align: center;
 color:#66ffb3;
  }
#-W{
text-align: center;
 color:#66ffb3;
}
#Zero_work{
text-align: center;
 color:#66ffb3;
  }
#Energy{
text-align: center;
 color:#66ffb3;
  }
#TE{
text-align: center;
 color:#66ffb3;
  }
#PE{
text-align: center;
 color:#66ffb3;
  }
#KE{
text-align: center;
 color:#66ffb3;
  }
table{
 width:50 px;
 height:70 px;
}
